/*.box-content:hover{ 
    width: 100%;
    height: 15em;
    padding: none;
    top:10px;left:10px;bottom:10px;right:10px;opacity:1;
    transition:.35s ease-in-out 0s;
    
    
    
    
    
}
.box-content{
    width: 100%; 
    height: 13em;
    padding:3em 1em 3em 0;background:rgba(255, 0, 0, 0.65);
    position:absolute; top:0;left:0;bottom:0;right:0;opacity:0;
    transform:scale(1.1);
    
    
    

}
.img1{
    width: 100%;
    height: 13em
}
.icon1:hover{
    flex-direction: row-reverse;
    transition:all .35s ease-in-out 0s;
    top:10px;left:10px;bottom:10px;right:10px;opacity:1;
    align-items: center;
    color: rgb(0, 0, 0);
}*/

.box-style{
    width: 100%;
    height: 13.6em;
    transition: .50s ease-in-out;
    padding:5em 5em 5em 5em;
    position:absolute; top:0;left:0;bottom:0;right:0;opacity:0;
    
}
.box-style:hover{
    
    transform: scale(.8);
    background-color:rgb(0, 0, 0) ;
    padding: none;
     top:1em;bottom:1em;right:1em;opacity:.80; 
    
        
}
@keyframes expand{
    0%{
        width: 10em;
    }
    50%{
        width: 15em;
    }
    100%{
        width: 10em;
    }
}
.link{
    margin-left: em; 
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;
    padding: 1em;

}
.form-style{
    background-color: black;
     border-style:double;
}



 